<div class="comments">
  <%comment = {author: {name: "seree"}, text: "sample commenttt"} %>
  <p class="comment"><span>Username: <%%> </span><%= %>
<span>Comment:<%= c.text%></span><%=  %> </p>

</div>