<div class="post-body">
  <div>
    <h2><%=p.title%> <span class="by">by</span><span class="username">Username</span> </h2>
    <p class="commets-and-likes">
        <span>Comments: <%= p.comments_counter%></span>
        <span>Likes: <%= p.likes_counter%></span>
    </p>
  </div>
  <div class="content">
     <p><%= p.text%></p>
  </div>
</div>